
  <div class='textBox'>
    <div class='row'>
      <div class='col-md-3'>
        <form ng-submit="fCont.submit()" enctype="multipart/form-data">
        <label>Customer Information:</label>

        <div class='form-group'>
          <input type="text" class="form-control" ng-model="fCont.customer.fName" placeholder="First Name">
        </div>

        <div class='form-group'>
          <input type="text" class="form-control" ng-model="fCont.customer.lName" placeholder="Last Name">
        </div>

        <div class='form-group'>
          <input type="text" class="form-control" ng-model="fCont.customer.company" placeholder="Company">
        </div>

        <div class='form-group'>
          <input type="text" class="form-control" ng-model="fCont.customer.phone" placeholder="Phone Number">
        </div>

        <div class='form-group'>
          <label class="radio-inline"><input type="radio" name="optradio" ng-model="fCont.customer.phoneType" value="iPhone">iPhone</label>
          <label class="radio-inline"><input type="radio" name="optradio" ng-model="fCont.customer.phoneType" value="Android">Android</label>
        </div>

        <div class='form-group'>
          <input type="text" class="form-control" ng-model="fCont.customer.business" placeholder="Business Number">
        </div>

        <div class='form-group'>
          <input type="text" class="form-control" ng-model="fCont.customer.home" placeholder="Home Number">
        </div>

        <div class='form-group'>
          <input type="text" class="form-control" ng-model="fCont.customer.address" placeholder="Address">
        </div>

        <div class='form-group'>
          <input type="text" class="form-control" ng-model="fCont.customer.city" placeholder="City">
        </div>

        <div class='form-group'>
          <input type="text" class="form-control" ng-model="fCont.customer.state" placeholder="State">
        </div>

        <div class='form-group'>
          <input type="text" class="form-control" ng-model="fCont.customer.zip" placeholder="Zip Code">
        </div>

        <button type="submit" class="btn btn-default submit">Submit</button>
      </form>
      </div>
      <!-- col-md-3  -->

      <div class='col-md-3'>
        <label> Vehicle Information: </label>

        <form ng-submit="fCont.sendPlate()" enctype="multipart/form-data">
          <div class='form-group'>
            Plate Picture
            <input type="file" file-model="fCont.plate.plate" name="plate"> <br>
            <button type="submit" class="btn btn-default">Scan Picture</button> <br>
          </div>
        </form>

        <form ng-submit="fCont.sendVIN()" enctype="multipart/form-data">
          <div class='form-group'>
            VIN Number
            <input type="text" class="form-control" ng-model="fCont.vin.vin" placeholder="Vin"> <br>
            <button type="submit" class="btn btn-default">Fill form by number</button> <br>
          </div>
        </form>

        <div class='form-group'>
          <input type="text" class="form-control" ng-model="fCont.vehicle.plateNumber" placeholder="License Plate #">
        </div>

        <div class='form-group'>
          <input type="text" class="form-control" ng-model="fCont.vehicle.plateState" placeholder="License Plate State">
        </div>

        <div class='form-group'>
          <input type="text" class="form-control" ng-model="fCont.vehicle.year" placeholder="Year">
        </div>

        <div class='form-group'>
          <input type="text" class="form-control" ng-model="fCont.vehicle.make" placeholder="Make">
        </div>

        <div class='form-group'>
          <input type="text" class="form-control" ng-model="fCont.vehicle.model" placeholder="Model">
        </div>

        <div class='form-group'>
          <input type="text" class="form-control" ng-model="fCont.vehicle.color" placeholder="Color">
        </div>

        <div class='form-group'>
          <input type="text" class="form-control" ng-model="fCont.vehicle.vin" placeholder="Vin">
        </div>

        <div class='form-group'>
          <label> City Mileage </label>
          <input type="text" class="form-control" ng-model="fCont.vehicle.city_mileage" placeholder="City mileage">
        </div>
        <div class='form-group'>
          <label> Highway Mileage </label>
          <input type="text" class="form-control" ng-model="fCont.vehicle.highway_mileage" placeholder="Highway mileage">
        </div>

      </div>
      <!-- col-md-3  -->
      <div class='col-md-6'>
        <label> API response </label>
        <pre> {{fCont.API_res | json}} </pre>
      </div>

    </div>

  </div>
