<!-- <div id='admin_wrapper' class='white_back'>
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand" style='color: #ffffff'>
        Side Menu
      </li>
      <li>
        <a ui-sref="main">Plate and VIN</a>
      </li>
      <li>
        <a>Extra</a>
      </li>
      <li>
        <a>Extra</a>
      </li>
    </ul>
  </div>

  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
  <div>
    <h1 style='text-align: center;'> Car Plate and VIN scanner </h1>
    <digital-form>
  </div>
<!-- </div> -->



<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#admin_wrapper").toggleClass("toggled");
  });
</script>
